.navbar_brand_logo {
    width: 100px;
  }
  
  .nav-link {
    font-family: Manrope, ui-sans-serif, system-ui, sans-serif;
    font-size: 20px;
    color: #ffffff;
    font-weight: 200;
    margin-right: 30px;
  }

  .nav-link:hover {
    background-color: rgb(198, 212, 0);
    margin-right: 30px;
    color: #2A4C90;
  }
  
  .navbar-toggler-icon {
    color: rgb(255, 255, 255) !important;
  }
  
  .navbar{
    background-color: #2A4C90;
  }

  .navbar-brand img{
    width: 50px;
    height: auto;
    margin-left: 30px;
  }
